<%= form_with url: filter_path, class:'relative block group', data:{'filters-target': 'searchForm'} do |form| %>
  <%= form.hidden_field :rating, value: @rating %>
  <%= form.hidden_field :only_rated, value: @only_rated %>
  <%= form.text_field :content, value: @content, placeholder: 'search quote', class: 'outline outline-gray-200 rounded-md p-2 pl-10', data: {action: 'input->filters#delayedSearch'} %>
  <div class="absolute left-3 top-1/2 transform -translate-y-1/2 pointer-events-none ">
    <%= inline_svg_tag('icons/search.svg', class: 'w-4') %>
  </div>
<%end %>