<%= turbo_frame_tag 'filters_stats', class: 'flex flex-col flex-wrap gap-4 border border-gray-200 border-dashed rounded-lg p-4', data: { controller: 'filters' } do %>
  <p class="font-medium text-lg">
    filters & stats
  </p>

  <div class="flex flex-wrap items-center justify-between">
    <div class='flex flex-wrap gap-4 items-center'>
      <%= render partial: 'content_filter' %>

      <div class="flex gap-8 items-center">
        <%= render partial: 'rating_filter' %>
        <%= render partial: 'stats' %>
      </div>
    </div>

    <%= button_to 'clear filters', filter_path, class:'cursor-pointer font-bold hover:underline' %>
  </div>
<% end %>