<%= form_with(model: @quote, class:'w-full flex justify-between items-center') do |form|%>
  <%= form.text_field :content, placeholder: "add task", autofocus: true, class: 'p-4 w-full outline-red-700' %>
  <div class="flex gap-4 mx-4">
    <% unless @quote.new_record? %>
      <%= link_to quote_path(@quote), class: 'bg-gray-50 hover:bg-white hover:text-red-700 p-2 font-bold rounded-lg duration-200 hover:drop-shadow-sm drop-shadow-red-700 cursor-pointer' do %>
        <%= inline_svg_tag 'icons/back.svg' %>
      <% end %>
    <% end %>
    <%= button_tag :submit, class: 'bg-gray-50 hover:bg-white hover:text-red-700 p-2 font-bold rounded-lg duration-200 hover:drop-shadow-sm drop-shadow-red-700 cursor-pointer' do %>
      <%= inline_svg_tag 'icons/save.svg' %>
    <% end %>
  </div>
<% end %>