<%= turbo_frame_tag dom_id(quote), class:'w-full flex justify-between items-center rounded-md bg-gray-200 relative' do %>
  <div class="p-4 truncate w-full font-medium">
    <%= quote.content %>
  </div>
  <div class="flex gap-4 mx-4">
    <%= link_to edit_quote_path(quote), class: 'bg-gray-50 hover:bg-white hover:text-red-700 p-2 font-bold rounded-lg duration-200 hover:drop-shadow-sm drop-shadow-red-700 cursor-pointer' do %>
      <%= inline_svg_tag 'icons/edit.svg' %>
    <% end %>
    <%= button_to quote_path(quote), method: :delete, class: 'bg-gray-50 hover:bg-white hover:text-red-700 p-2 font-bold rounded-lg duration-200 hover:drop-shadow-sm drop-shadow-red-700 cursor-pointer' do %>
      <%= inline_svg_tag 'icons/delete.svg' %>
    <% end %>
  </div>

  <%= render partial:'rating', locals: {quote:quote} %>
<% end %>