<div class="flex flex-col">
  average rating & totals
  <%= button_to filter_path, params: { rating: @rating, content: @content, only_rated: @only_rated.present? ? @only_rated.nil? : true }, class: 'w-full' do %>
    <div class="<%= class_names('p-1 flex hover:bg-gray-200 rounded-md cursor-pointer', {'bg-gray-200': @only_rated}) %>">
      <%= inline_svg_tag 'icons/star.svg', class:'text-yellow-500 fill-yellow-500 w-10'%>
      <div>
        <p class="text-lg font-bold">
          <%= @average_rating %>
        </p>
        <p class="text-xs">
          <%= pluralize(@quotes_count, 'quote')%>
        </p>
      </div>
    </div>
  <% end %>
</div>